/* Reset default margin and padding for all elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set full width and height for html and body */
html, body{
    width: 100%;
    height: 100%;
}

/* Main container styling */
#main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cursor styling */
#cursor{
    width: 15px;
    height: 15px;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    padding: 2px;
}

/* Image container styling */
#img{
   width: 700px;
   height: 400px;
   position: relative;
}

/* Image styling */
#img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.);
}

/* Overlay styling */
#img .overlay{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}